<%= form_for(@ticket) do |f| %>
<p>
<%= f.label :ticket_number %>
</p>
<%= f.text_field :ticket_number %>
<p>
<%= f.label :employee_name %>
<p>
<%= collection_select(:ticket, :end_user_id, EndUser.all, :id, :name, prompt: true) %>
</p>
<%= f.label :asset %>
</p>
</p>
<%= f.text_field :asset%>
<p>
<%= f.label :issue %>
</p>
<%= f.text_area :issue %>
<p>
<%= f.label :priority %>
</p>
<%= f.text_field :priority %>


    
<%= f.hidden_field :end_user_id %>
<p>
<%= f.submit %>
</p>
<% end %>





