<%= form_for (@ticket) do |f| %>
<p>
<%= f.label :ticket_number %>
</p>
<%= f.text_field :ticket_number %>
<p>


</p>
<%= f.label :asset %>
</p>
</p>
<%= f.text_field :asset%>
<p>
<%= f.label :issue %>
</p>
<%= f.text_area :issue %>
<p>
<%= f.label :priority %>
</p>
<%= f.text_field :priority %>


    

<p>
<%= f.submit %>
</p>
<% end %>





