<h1>Ticket Details</h1>
<p>Ticket Number: <%= link_to @ticket.ticket_number,   %>
<p>Asset Type: <%= @ticket.asset %></p>
<p>Tech Assigned: <%= link_to @ticket.tceh.full_name, doctor_path(@ticket.technician) %></p>
<p>Location: <%= @ticket.end_user.department %></p>

<%= link_to "Edit Ticket", edit_ticket_path(@ticket) %>
<%= form_tag(ticket_path(@ticket), method: :delete, style: 'display: inline-block;') do %>
  <%= submit_tag "Delete ticket" %>
<% end %>