<!DOCTYPE html>
<html>
  <head>
    <title>IntuitiveTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if current_technician %>
  <%= form_tag(destroy_technician_session_path, method: :delete, style:'display: inline-block') do %>
     <%=submit_tag "Sign out" %>
    <%= link_to "New Ticket", new_ticket_path  %> |
    <%= link_to "New Employee", new_end_user_path  %> |
  
    <% end %>
  <% else %>
   <%= link_to "Login", new_technician_session_path %> |
   <%= link_to "Sign Up", new_technician_registration_path %>
  <% end %>
   </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
